@import "./global.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

.app {
  background-size: cover;
  background-position: bottom;
  transition: 0.2s ease-out;
  background-image: url('./assets/sunny.gif');
} 

.app.cloud {
  background-image: url('./assets/mainCover1.jpg');
}

.app.rain {
  background-image: url('./assets/Raining.gif'), url('./assets/mainCover2.jpg');
}

.app.snow{
  background-image: url('./assets/snow.gif'), url('./assets/mainCover2.jpg');
}

.app.thunderstorm{
  background-size: 300px, cover;
  background-position: bottom;
  background-image: url('./assets/thunderstorm.gif'), url('./assets/mainCover2.jpg');
}

main {
  min-height: 100vh;
  padding: 20px;
}

.search-box {
  width: 100%;
  margin: 0 0 5px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 10px;

  border: none;
  appearance: none;
  background: none;
  outline: none;

  background-color: aliceblue;
  border-radius: 16px 16px 16px 16px;
  margin-top: -10px;

  color: black;
  font-size: 20px;

  transition: 0.5s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.top-box {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  margin: 20px auto;
}

.location-box .location {
  color: black;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  background-color: rgba(244, 246, 246, 0.2);
  border-radius: 16px;
  padding: 10px 10px;
}

.weather-box .temp {
  background-color: rgba(244, 246, 246, 0.2);
  border-radius: 16px;
  padding: 5px 10px;

  color: black;
  font-size: 65px;
  font-weight: 800;

  text-align: center;
}

.date {
  color: black;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  background-color: rgba(244, 246, 246, 0.2);
  border-radius: 16px;
  padding: 10px 25px;
}

.weather-description {
  margin-top: 80%;
  color: #FFF;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  text-shadow: 2px 2px rgba(50, 50,70, 0.5);  
}

.weather-description .weather {
  font-family: Courier New, monospace;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.weather-description .weather-icon img{
  height: 60%;
  width: 60%;
}

.more-details{
  font-family: Courier New, monospace;
  margin-top: -5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(244, 246, 246, 0.2);
  border-radius: 16px;
  color: #FFF;
  font-size: 15px;
  font-weight: 400;
  padding: 5px 5px;
}



